html {
    background-image: url(../imagens/backgorund.png);
    background-repeat: no-repeat;
    width: 400px;
    height: 200px;
}

h2 {
    font-family: "Great Vibes";
    font-size: 30px;
    color: rgb(37,79,132);
    text-shadow: 2px 2px 5px red;
    font-weight:50;
    margin-left: 45px;
}

.imgs {
    margin-left:50px;
    width:45px;
}

a {
    text-decoration: none;
    color:rgb(37,79,132);
    text-shadow: 2px 2px 5px red;
}

.assinatura {
    font-family: 'Tangerine', cursive;
    font-size: 20px;
}

a:hover {
    border: solid;
    border-color: rgb(37,79,132);
    border-radius: 10px;
}